<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hi, my name is Kevin and welcome to my website! Currently working as an Embedded Application Tester, my career interests are in Embedded and Backend Software Development, Machine Learning and Electrical Engineering. Outside of work, you can find me writing/producing music, reading, 
                    playing sports and/or writing material for Stand-Up comedy.  Stick around to get to know more about me! </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
