<section class="bg-primary" id="contact">
    <div class="container">
        <!-- <div class="row"> -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get In Touch</h2>
                <hr class="light">
                <p class="text-faded">Shoot me an email or LinkedIn message me if you have any cool projects related to software development or music that you think I could be of assistance!</p>
                <a href="mailto:kevchung123@gmail.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color:rgb(245, 242, 235)"></i>
                        <p style="color:rgb(245, 242, 235)">kevchung123@gmail.com</p>
                        </a>
            </div>
        <!-- </div> -->
    </div>
    <br><br>
    <div class="small text-center text-muted" style="color:rgb(245, 242, 235)">
        Kevin Chung ©
    </div>
</section>