<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Timeline</a>
                </li>
                <li>
                    <a class="page-scroll" href="#music">Music</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Favourite</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="https://www.linkedin.com/in/kchung12/" target="_blank" title="LinkedIn" ><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
                </li>
                <li>
                    <a href="https://github.com/korcanboy" target="_blank" title="Github"><i class="fa fa-github-square" style="font-size:24px"></i></a>
                </li>
                <li>
                    <a href="https://soundcloud.com/korcanboy" target="_blank" title="Soundcloud"><i class="fa fa-soundcloud" style="font-size:24px"></i></a>
                </li>
                <li>
                    <a href="https://medium.com/@kevchung123" target="_blank" title="Medium"><i class="fa fa-medium" style="font-size:24px"></i></a>
                </li>
                <li>
                    <a href="../img/Inyoung_Kevin_Chung_Resume_website.pdf" target="_blank" title="Resume"><i class="fa fa-file-o" style="font-size:22px"></i></a>
                </li>
            </ul>
        </div>
    </div>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
