<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row no-gutter">
            <section class="timeline">
                <h2 class="text-center mt-0">Timeline</h2>
                <hr class="primary"></hr>
                <div class="scrollmenu">
                    <ol>
                        <li>
                            <div>
                                <time>September 2014</time> Enrolled at McMaster University to pursue a degree in Electrical Engineering 
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>May 2016 - August 2016</time> Worked as a QA Analyst at PointClickCare
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>May 2017 - August 2019</time> Worked as a Test Engineer at Celestica Inc. (Aerospace and Defence division)
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>May 2019</time> Graduated McMaster University with a Bachelors in Electrical Engineering
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>September 2019 - Present</time> Currently working as an Embedded Application Tester at MMB Networks Inc.
                            </div>
                        </li>
                    </ol>
                </div>
            </section>
        </div>
    </div>
</section>
