<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row no-gutter">
            <section class="timeline">
                <h2 class="text-center mt-0">Timeline</h2>
                <hr class="primary"></hr>
                <div class="scrollmenu">
                    <ol>
                        <li>
                            <div>
                                <time>September 2014</time> Enrolled at <a href="https://www.mcmaster.ca/" target="_blank" style="color: rgb(255,255,255)"><font color="ffffff">McMaster University</font></a> to pursue a degree in Electrical Engineering 
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>May 2016 - August 2016</time> Worked as a QA Analyst at <a href="https://pointclickcare.com/" target="_blank" style="color: rgb(255,255,255)"><font color="ffffff">PointClickCare</font></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>May 2017 - August 2019</time> Worked as a Test Engineer at <a href="https://www.celestica.com/" target="_blank" style="color: rgb(255,255,255)"><font color="ffffff">Celestica Inc.</font></a> (Aerospace and Defence division)
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>May 2019</time> Graduated <a href="https://www.mcmaster.ca/" target="_blank" style="color: rgb(255,255,255)"><font color="ffffff">McMaster University</font></a> with a Bachelors in Electrical Engineering
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>September 2019 - August 2020</time> Worked as an Embedded Applications Tester at <a href="https://mmbnetworks.com/" target="_blank" style="color: rgb(255,255,255)"><font color="ffffff">MMB Networks Inc.</font></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>September 2020 - Present</time> Currently working as a DevOps Engineer at <a href="https://www.geotab.com/" target="_blank" style="color: rgb(255,255,255)"><font color="ffffff">Geotab Inc.</font></a>
                            </div>
                        </li>
                    </ol>
                </div>
            </section>
        </div>
    </div>
</section>
